<div class="topbar">
    <div class="alt-text-segment">Showing <b>{{slideshowService.filteredProjects.length}}</b> results for:</div>
    <div class="text-segment">Showing <b>{{slideshowService.filteredProjects.length}}</b> projects with</div>

    <app-slideshow-filter [label]="getTagsText()" [wide]="true">

        @for (category of (TagCategory | keyvalue); track TagCategory) {

            <div class="tag-group {{category.value}}">
                <h1 class="{{category.value}}">{{category.value}}
                    <mat-icon (click)="removeAll(category.value)">indeterminate_check_box</mat-icon>
                    <mat-icon (click)="addAll(category.value)">add_box</mat-icon>
                </h1>

                <div class="tag-list">
                    @for (tag of tagsByCategory[category.value]; track TagCategory) {
                        <label class="tagCheck">
                            <app-tag-icon (click)="toggle(tag, $event)" [class.selected]="selectedTags.includes(tag)" [tag]="tag">
                                <div class="input"></div>
                            </app-tag-icon>
                        </label>
                    }
                </div>
            </div>
        }

    </app-slideshow-filter>

    <div class="text-segment">tags between</div>

    <app-slideshow-filter [label]="getStartDateText()">
        <app-drop-down-list [selections]="getYearsAsStrings()"
            (onSelection)="handleStartDateSelection($event)"></app-drop-down-list>
    </app-slideshow-filter>

    <div class="text-segment">and</div>

    <app-slideshow-filter [label]="getEndDateText()">
        <app-drop-down-list [selections]="getYearsAsStrings()"
            (onSelection)="handleEndDateSelection($event)"></app-drop-down-list>
    </app-slideshow-filter>
</div>