<div class="topbar">
    <div class="alt-text-segment"><b>{{slideshowService.filteredProjects.length}}</b> results for:</div>
    <div class="text-segment">Showing <b>{{slideshowService.filteredProjects.length}}</b> projects with</div>

    <app-slideshow-filter [label]="getTagsText()">
        Tags Filter Content
    </app-slideshow-filter>

    <div class="text-segment">tags between</div>

    <app-slideshow-filter [label]="getStartDateText()">
        <app-drop-down-list [selections]="getYearsAsStrings()"
            (onSelection)="handleStartDateSelection($event)"></app-drop-down-list>
    </app-slideshow-filter>

    <div class="text-segment">and</div>

    <app-slideshow-filter [label]="getEndDateText()">
        <app-drop-down-list [selections]="getYearsAsStrings()"
            (onSelection)="handleEndDateSelection($event)"></app-drop-down-list>
    </app-slideshow-filter>
</div>