.topbar {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    font-size: var(--medium-font-size);
    color: rgb(var(--color-text));
    align-items: center;
    flex-wrap: wrap;

    app-slideshow-filter,
    .text-segment, .alt-text-segment {
        margin-left: var(--standard-padding);
    }

    .alt-text-segment {
        display: none;
    }

    .text-segment {
        height: 100%;
        align-content: center;
    }

    /* All but laptop */
    @media (max-width: 1099px) {
        .text-segment {
            display: none;
        }

        .alt-text-segment {
            display: block;
        }
    }

    /* Phone */
    @media (max-width: 799px) {
        .alt-text-segment {
            width: 100%;
        }
    }
}