ul {
    padding: 0;
    margin: 0;
}

li {
    font-weight: normal;
    list-style-type: none;
    padding-left: var(--standard-padding);
    padding-right: var(--standard-padding);
    background-color: rgb(var(--color-foreground));
    font-size: var(--medium-font-size);
    cursor: pointer;
    line-height: calc(var(--medium-font-size) + 6px);
    transition: var(--button-transition);

    &:not(:first-child) {
        margin-top: var(--standard-padding);
    }

    --color-foreground-real: rgb(var(--color-foreground));

    &:hover {
        line-height: calc(var(--medium-font-size));
        padding-bottom: 6px;
        background-color: color-mix(in srgb, var(--color-foreground-real), white 15%);
        transition: var(--button-transition);
    }
}

.empty {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: rgba(var(--color-light), 0.5);
    font-size: var(--small-font-size);
}