<div class="container">
    <img 
        class="image-pane"
        src="assets/images/{{project.thumbnail}}"
        alt="{{ project.title }}" />

    <div class="text-pane">
        <h1>{{project.title}}</h1>

        <div class="header-section">
            <a class="section-label">Tags:</a>
            @for (tag of project.tags; track project.tags) {
                <app-tag-icon [tag]=tag/>
            }
        </div>

        <div class="header-section">
            <a class="section-label">{{projectDatesText}}</a>
        </div>

        <a class="description">{{project.description}}</a>
    </div>

</div>