.about-button, .about-button:visited  {
    width: calc(100% - 2 * var(--text-padding));
    display: block;
    text-align: left;
    margin-left: var(--text-padding);
    padding-top: calc(var(--text-padding) / 2);
    padding-bottom: calc(var(--text-padding) / 2);
    border-bottom-width: 2px;
    border-bottom-color: rgba(var(--color-layer-1), 0.5);
    border-bottom-style: solid;
    cursor: pointer;
    transition: var(--button-transition);
    color: rgb(var(--color-light));
    text-decoration: none;

    &:last-child {
        border: none;
    }
}

.about-button:hover {
    padding-left: var(--about-button-move-distance);
    width: calc(100% - 2 * var(--text-padding) - var(--about-button-move-distance));
}