<div class="window">

    <!-- Border Details -->
    <div class="shadow"></div>
 
    <!-- Nav Buttons -->
    <div class="nav-buttons">
        <button [class.inactive]="prevInactive()" class="slide-nav-button"
            (click)="slideshowService.previousSlide()"><mat-icon>arrow_circle_left</mat-icon></button>
        <button [class.inactive]="nextInactive()" class="slide-nav-button"
            (click)="slideshowService.nextSlide()"><mat-icon>arrow_circle_right</mat-icon></button>
    </div>
    
    <!-- Slideshow Contents -->
    <div class="reel" (wheel)="onMouseWheel($event)" (scroll)="setScrollDistance($event)">
        @for (project of slideshowService.filteredProjects; track project.id) {
        <app-slide [project]=project></app-slide>
        } @empty {
        <a class="empty-text">wow, that's niche.</a>
        }
    </div>

    <!-- Projects Timeline -->
    <div class="timeline">
        <div class="years">
            @for (year of slideshowService.getFilteredYears(); track slideshowService.filteredProjects) {
            <div [class.selected]="slideshowService.getSelectedYear() == year"
                [style.width.%]="slideshowService.getRelativeYearSize(year)" (click)="slideshowService.goToYear(year)"
                class="year">
                <span>{{year}}</span>
            </div>
            }
        </div>
        <div class="progress-bar-background">
            <div [style.width.%]="slideshowService.getProgress()" class="progress-bar"></div>
        </div>
    </div>
</div>