.landing-page {
    padding: var(--standard-padding);
    width: calc(100vw - var(--standard-padding) * 2);
    height: calc(100vh - var(--standard-padding) * 2);
    display: flex;
    flex-direction: row;
    gap: var(--standard-padding);
    overflow: hide;
}

.main-personal {   
    width: var(--main-personal-width);
    display: block;
}

.main-slideshow {   
    width: var(--main-slideshow-width);
}

.main-slideshow, .main-personal {
    height: calc(100vh - var(--standard-padding) * 2);
}