.bubble {
    display: inline-block;

    width: auto;
    min-width: 12.8px;
    height: calc(var(--small-font-size) + 2 * var(--min-padding));
    box-sizing: border-box;
    position: relative;

    text-align: center;
    font-size: var(--small-font-size);
    line-height: calc(var(--small-font-size) - var(--min-padding));

    padding: var(--min-padding);
    
    border-width: var(--border-thickness);
    border-style: solid;
    border-radius: 9999px; // Cheap hack to quickly make pill shape
}