.greetings-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        &:nth-child(1)
        {
            text-align: left;
            display: block;
            font-size: var(--medium-font-size);
            font-weight: 500;
            padding-left: var(--text-padding);
        }

        &:nth-child(2)
        {
            text-align: center;
            display: block;
            font-size: var(--large-font-size);
            font-weight: 400;
        }
    }
}