body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(var(--color-layer-1));
}

:root {
    /* ---- Sizes ---- */
    --sidebar-width: 18vw;
    @media (max-width: 1099px) {
        --sidebar-width: 25vw;
    }
    --topbar-height: 10vh;
    --standard-padding: 12px;
    --slide-padding: 60px;
    --timeline-height: 5vh;
    --about-button-move-distance: 12px;

    /* ---- Rounding ---- */
    --outer-radius: 8px;

    /* ---- Text ---- */
    --larger-font-size: 4.0vmin;
    --large-font-size: 4.0vmin;
    --medium-font-size: 2.25vmin;
    --small-font-size: 1.8vmin;
    --text-padding: 20px;

    @media (max-width: 1099px) {
        --larger-font-size: 20px;
        --large-font-size: 16px;
        --medium-font-size: 14px;
        --small-font-size: 10px;
    }

    /* ---- Colours ----
    NOTE: Stored as raw values so that alpha can be added */
    --color-layer-3: 23, 36, 30;
    --color-layer-2: 18, 28, 23;
    --color-layer-1: 8, 14, 11;
    --color-light: 230, 240, 230;

    /* ---- Shadows ---- */
    --far-shadow: 0 8px 20px 8px rgba(0, 0, 0, 1);
    --near-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.5);
    --shine: 0 4px 4px 0px rgba(225, 252, 239, 0.03);
    --under: 0 -4px 4px 0px rgba(0, 0, 0, 0.2);

    /* ---- Animation ---- */
    --button-transition: 0.2s ease-in-out;
    --button-click-transition: 0.1s ease-out;
    --reel-change-time: 0.4s;
    --dropdown-transition: 0.25s ease-in;
    
    font-family: "Roboto Mono", sans-serif;

    color: rgb(var(--color-light));
    font-size: var(--medium-font-size);
    
    h1 {
        font-weight: 300;
        font-size: var(--larger-font-size);
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h2 {
        font-weight: 400;
        font-size: var(--large-font-size);
    }
}

.slide-nav-button {
    transition: var(--button-transition);
    height: var(--slide-padding);
    width: var(--slide-padding);
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--far-shadow), inset var(--shine), inset var(--under);
    border: 0;
    background-color: rgb(var(--color-layer-3));
    color: rgb(var(--color-light));
    cursor: pointer;

    mat-icon {
        transition: var(--button-transition);
        font-weight: 400;
        font-size: calc(var(--slide-padding) * 0.6);
        width: calc(var(--slide-padding) * 0.6);
        height: calc(var(--slide-padding) * 0.6);
    }

    &.inactive {
        transition: var(--button-transition);
        cursor: default;
        box-shadow: var(--near-shadow), inset var(--shine), inset var(--under);
        transform: translateY(4px);
        background-color: rgb(var(--color-layer-2));
        
        mat-icon {
            opacity: 0.3;
        }
    }
}

.slide-nav-button:not(.inactive):hover {
    mat-icon {
        transition: var(--button-transition);
        transform: translateY(calc(var(--slide-padding) * -0.1));
    }
}

.slide-nav-button:not(.inactive):active {
    mat-icon {
        transform: translateY(0px);
        transition: var(--button-click-transition);
    }
}