body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

:root {
    /* ---- Sizes ---- */
    --sidebar-width: 18vw;

    @media (max-width: 1099px) {
        --sidebar-width: 25vw;
    }

    --topbar-height: 10vh;

    @media (max-width: 799px) {
        --topbar-height: 5vh;
        --sidebar-width: 8vh;
    }

    --slide-padding: 60px;
    --timeline-height: 5vh;
    --about-button-move-distance: 12px;
    --border-thickness: 2px;
    --standard-padding: 12px;
    --min-padding: 4px;

    /* ---- Rounding ---- */
    --outer-radius: 8px;

    /* ---- Text ---- */
    --larger-font-size: 4.0vmin;
    --large-font-size: 4.0vmin;
    --medium-font-size: 2.25vmin;
    --small-font-size: 1.8vmin;
    --text-padding: 20px;

    @media (max-width: 1099px) {
        --larger-font-size: 24px;
        --large-font-size: 20px;
        --medium-font-size: 16px;
        --small-font-size: 12px;
    }

    /* ---- Colours ----
    NOTE: Stored as raw values so that alpha can be added */
    --color-layer-3: 24,
    72,
    51;
    --color-layer-2: 20,
    54,
    39;
    --color-layer-1: 9,
    31,
    20;
    --color-text: 240,
    250,
    255;

    /* ---- Shadows ---- */
    --far-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.7);
    --near-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.4);
    --shine: 0 0 2px 2px rgba(225, 252, 239, 0.08);
    --under: 0 -4px 4px 0 rgba(0, 0, 0, 0.2);

    /* ---- Animation ---- */
    --button-transition: 0.2s ease-in-out;
    --button-click-transition: 0.1s ease-out;
    --reel-change-time: 0.4s;
    --dropdown-transition: 0.25s ease-in;

    font-family: "Roboto Mono",
    sans-serif;

    color: rgb(var(--color-text));
    font-size: var(--medium-font-size);
    
    /* ---- Dedicated tag group colours ---- */

    .default:not(h1) {
        border-color: rgb(var(--color-text));
        color: rgb(var(--color-text));
    }

    .game-dev:not(h1) {
        border-color: rgb(196, 100, 209);
        color: rgb(196, 100, 209);
    }

    .maker-space:not(h1) {
        border-color: rgb(226, 67, 112);
        color: rgb(226, 67, 112);
    }

    .dev-ops:not(h1) {
        border-color: rgb(90, 39, 200);
        color: rgb(90, 39, 200);
    }

    .web:not(h1) {
        border-color: rgb(146, 69, 208);
        color: rgb(146, 69, 208);
    }

    .data:not(h1) {
        border-color: rgb(177, 221, 94);
        color: rgb(177, 221, 94);
    }

    .default .selected .input, h1.default {
        background-color: rgb(var(--color-text));
    }

    .game-dev .selected .input, h1.game-dev {
        background-color: rgb(196, 100, 209);
    }

    .maker-space .selected .input, h1.maker-space {
        background-color: rgb(226, 67, 112);
    }

    .dev-ops .selected .input, h1.dev-ops {
        background-color: rgb(90, 39, 200);
    }

    .web .selected .input, h1.web {
        background-color: rgb(146, 69, 208);
    }

    .data .selected .input, h1.data {
        background-color: rgb(177, 221, 94);
    }

    h1.default, h1.game-dev, h1.maker-space, h1.dev-ops, h1.web, h1.data {
        color: rgb(var(--color-layer-2));
    }

    h1 {
        font-weight: 300;
        font-size: var(--larger-font-size);
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    h2 {
        font-weight: 400;
        font-size: var(--large-font-size);
    }
}

.slide-nav-button {
    transition: var(--button-transition);
    height: var(--slide-padding);
    width: var(--slide-padding);
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--far-shadow), inset var(--shine), inset var(--under);
    border: 0;
    background-color: rgb(var(--color-layer-3));
    color: rgb(var(--color-text));
    cursor: pointer;

    mat-icon {
        transition: var(--button-transition);
        font-weight: 400;
        font-size: calc(var(--slide-padding) * 0.6);
        width: calc(var(--slide-padding) * 0.6);
        height: calc(var(--slide-padding) * 0.6);
    }

    &.inactive {
        transition: var(--button-transition);
        cursor: default;
        box-shadow: var(--near-shadow), inset var(--shine), inset var(--under);
        transform: translateY(4px);
        background-color: rgb(var(--color-layer-2));

        mat-icon {
            opacity: 0.3;
        }
    }
}

.slide-nav-button:not(.inactive):hover {
    mat-icon {
        transition: var(--button-transition);
        transform: translateY(calc(var(--slide-padding) * -0.1));
    }
}

.slide-nav-button:not(.inactive):active {
    mat-icon {
        transform: translateY(0px);
        transition: var(--button-click-transition);
    }
}