:root {
    /* ---- Consistent Sizes ---- */
    --title-height: 12vh;
    --standard-padding: 12px;
    --text-padding: 20px;
    --nav-height: 5vh;
    --slide-padding: 60px;
    --slide-height: calc(100vh - var(--standard-padding) * 3 - var(--slide-padding) * 2 - var(--title-height) - var(--nav-height));
    --outer-radius: 4px;
    --main-personal-width: calc((100vw - var(--standard-padding) * 3) * 0.2);
    --main-slideshow-width: calc((100vw - var(--standard-padding) * 3) * 0.8);
    --about-button-move-distance: 12px;

    /* ---- Colours ---- */
    --color-foreground: #13221A;
    --color-dark: #060E0B;
    --color-mid: #0E1812;
    --color-light: #F0EAD6;

    /* ---- Text ---- */
    --larger-font-size: 32px;
    --large-font-size: 28px;
    --medium-font-size: 18px;
    --small-font-size: 10px;
    
    font-family: "Roboto Mono", sans-serif;

    color: var(--color-light);
    font-size: var(--medium-font-size);
    
    h1 {
        font-weight: 300;
        font-size: var(--larger-font-size);
    }

    h2 {
        font-weight: 400;
        font-size: var(--large-font-size);
    }
}

.bento-section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border-radius: var(--outer-radius);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
}

.about-button, .about-button:visited  {
    width: calc(100% - 2 * var(--text-padding));
    display: block;
    text-align: left;
    margin-left: var(--text-padding);
    padding-top: calc(var(--text-padding) / 2);
    padding-bottom: calc(var(--text-padding) / 2);
    border-bottom-width: 2px;
    border-bottom-color: var(--color-dark);
    border-bottom-style: solid;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: var(--color-light);
    text-decoration: none;

    &:last-child {
        border: none;
    }
}

.about-button:hover {
    transition: 0.5s ease-in-out;
    padding-left: var(--about-button-move-distance);
    width: calc(100% - 2 * var(--text-padding) - var(--about-button-move-distance));
}